/* Google fonts: Noto Sans Buhid for small text, Noto Serif Georgian for headings */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Buhid&family=Noto+Serif+Georgian:wght@300&display=swap');

* {
    color: #ffffff ;
    font-family: 'Noto Sans Buhid';
}

body {
    background-color: #3a3330;
}

h1 {
    font-family: 'Noto Serif Georgian';
}

ul li {
    color: #3a3330;
}

.info {
    background: transparent;
    border: 1px solid;
    font-size: small;
}

.rules {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid #3a3330;
    border-radius: 5px;
    z-index: 10;
    background-color: #ffb83c;
    width: 500px;
    max-width: 80%;
}

.rules.active {
    transform: translate(-50%, -50%) scale(1);
}

.rules-header {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #3a3330;
}

.rules-header .title {
    color: #3a3330;
    font-size: 1.25rem;
    font-weight: bold;
    font-family: 'Noto Serif Georgian';
}

.rules-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-weight: bold;
    font-size: x-large;
}
.rules-body {
    color: #3a3330;
    padding: 10px 10px;
    text-align: justify;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 24, 0, 0.2);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.game-container {
    margin: 0 auto;
    max-width: 510px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title-container {
    
    text-align: center;
    width: 510px;
    border-bottom: solid 1px #ffb83c;

}

.tile-container {
    width: 330px;
    margin-bottom: 30px;
}

.key-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.key-container button {
    flex: 1;
    height: 58px;
    border-radius: 4px;
    border: solid 1px #ffffff;
    background-color: #d05301; 
    color: #ffffff; 
    margin: 4px;

}

.key-container .key-row {
    width: 100%;
    display: flex;
}

.key-container .key-row:nth-child(2) button:first-child {
    margin-left: 6%;
}

.key-container .key-row:nth-child(2) button:last-child {
    margin-right: 6%
}


.key-container .key-row:nth-child(3) button:first-child {
    min-width: 55px;
}

.key-container .key-row:nth-child(3) button:last-child {
    min-width: 35px;
} 

.key-row:nth-child(3) button:first-child, 
.key-row:nth-child(3) button:last-child {
    flex: 2;
}
.tile-container div {
    display: flex;
}

.tile-container .tile {
    width: 62px;
    height: 62px;
    border: 2px solid #ffb83c;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.message-container {
    height: 40px;
}

.message-container p {
    background-color: #818384;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
}

.tile.flip {
    animation: 0.5s linear flipping;
}

@keyframes flipping {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

.grey-overlay {
    background-color: #3a3a3c !important;
    border: none !important
}

.yellow-overlay {
    background-color: #b59f4a !important;
    border: none !important;
}

.green-overlay {
    background-color: #538d4e !important;
    border: none !important;
}

@media screen and (min-width: 320px) and (max-width: 567px) {

    .title-container {
        max-width: 100vw;
        
    }
    .tile-container {
        max-width: 100vw;
        margin-bottom: 5px;
    }
    .key-container {
        max-width: 100vw;
    }
    
    .key-container button:nth-child(11) {
        margin-left: 4px;
    }
    h1 {
        margin: auto;
    }
}