/* Google fonts: Noto Sans Buhid for small text, Noto Serif Georgian for headings */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Buhid&family=Noto+Serif+Georgian:wght@300&display=swap');

* {
    color: #ffffff;
    font-family: 'Noto Sans Buhid';
}

body {
    background-color: #3a3330;
}

h1 {
    font-family: 'Noto Serif Georgian';
}
.game-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title-container {
    
    text-align: center;
    width: 510px;
    border-bottom: solid 1px #ffb83c;

}

.tile-container {
    width: 330px;
    margin-bottom: 30px;
}

.key-container {
    width: 510px;
    display: flex;
    flex-wrap: wrap;
}

.key-container button {
    width: 43px;
    height: 58px;
    border-radius: 4px ;
    border: solid 1px #ffffff;
    background-color: #d05301; 
    color: #ffffff; 
    margin: 4px;

}

.key-container button:nth-child(11) {
    margin-left: 30px;
}

.key-container button:nth-child(20),
.key-container button:nth-child(28) {
    width: 68px;
}

.tile-container div {
    display: flex;
}

.tile-container .tile {
    width: 62px;
    height: 62px;
    border: 2px solid #ffb83c;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.message-container {
    height: 40px;
}

.message-container p {
    background-color: #818384;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
}

.tile.flip {
    animation: 0.5s linear flipping;
}

@keyframes flipping {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

.grey-overlay {
    background-color: #3a3a3c !important;
    border: none !important
}

.yellow-overlay {
    background-color: #b59f4a !important;
    border: none !important;
}

.green-overlay {
    background-color: #538d4e !important;
    border: none !important;
}

@media screen and (min-width: 320px) and (max-width: 567px) {

    .title-container {
        max-width: 100vw;
        
    }
    .tile-container {
        max-width: 100vw;
        margin-bottom: 5px;
    }
    .key-container {
        max-width: 100vw;
    }
    .key-container button {
        width: 34px;
        height: 45.86px;
    }
    .key-container button:nth-child(11) {
        margin-left: 4px;
    }
    h1 {
        margin: auto;
    }
}