/* Google fonts: Noto Sans Buhid for small text, Noto Serif Georgian for headings */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Buhid&family=Noto+Serif+Georgian:wght@300&display=swap');

* {
    color: #ffffff;
    font: 'Noto Sans Buhid';
}

body {
    background-color: #3a3330;

}

.game-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title-container {
    text-align: center;
    width: 510px;
    border-bottom: solid 1px #ffb83c;

}

.tile-container {
    width: 20.625rem;
    margin-bottom: 1.875rem;
}

.key-container {
    width: 31.875rem;
    display: flex;
    flex-wrap: wrap;
}

.key-container button {
    width: 2.6875rem;
    height: 3.625rem;
    border-radius: 4px ;
    border: solid 1px #ffffff;
    background-color: #d05301; 
    color: #ffffff; 
    margin: 4px;

}

.key-container button:nth-child(11) {
    margin-left: 1.875rem;
}

.key-container button:nth-child(20),
.key-container button:nth-child(28) {
    width: 4.25rem;
}

.tile-container div {
    display: flex;
}

.tile-container .tile {
    width: 3.875rem;
    height: 3.875rem;
    border: 2px solid #ffb83c;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.message-container {
    height: 2.5rem;
}

.message-container p {
    background-color: #818384;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
}

.grey-overlay {
    background-color: #3a3a3c !important;
    border: none !important
}

.yellow-overlay {
    background-color: #b59f4a !important;
    border: none !important;
}

.green-overlay {
    background-color: #538d4e !important;
    border: none !important;
}