/* Google fonts: Noto Sans Buhid for small text, Noto Serif Georgian for headings */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Buhid&family=Noto+Serif+Georgian:wght@300&display=swap');

* {
    color: #ffffff;
    font: 'Noto Sans Buhid';
}

body {
    background-color: #3a3330;

}

.game-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title-container {
    text-align: center;
    width: 510px;
    border-bottom: solid 1px #ffb83c;

}